// 基本のパラグラフ、引用、ハッシュタグ、画像、リンク
.editor-paragraph {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }
  
  .editor-quote {
    border-left: 4px solid #ccc;
    padding-left: 20px;
    color: #666;
    font-style: italic;
    margin: 20px 0;
  }
  
  .editor-hashtag {
    color: #3b5998;
    font-weight: bold;
  }
  
  .editor-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .editor-link {
    color: #007bff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  // 見出し
  .editor-heading-h1,
  .editor-heading-h2,
  .editor-heading-h3,
  .editor-heading-h4,
  .editor-heading-h5,
  .editor-heading-h6 {
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 20px 0 10px;
    font-weight: normal;
  }
  
  .editor-heading-h1 {
    font-size: 2.25rem;
  }
  
  .editor-heading-h2 {
    font-size: 1.8rem;
  }
  
  .editor-heading-h3 {
    font-size: 1.5rem;
  }
  
  .editor-heading-h4 {
    font-size: 1.2rem;
  }
  
  .editor-heading-h5 {
    font-size: 1rem;
  }
  
  .editor-heading-h6 {
    font-size: 0.85rem;
  }
  
  // リストとリストアイテム
  .editor-list-ol,
  .editor-list-ul {
    padding-left: 20px;
    margin-bottom: 1rem;
  }
  
  .editor-listItem {
    margin-bottom: 0.5rem;
  }
  
  .editor-nested-listitem {
    padding-left: 20px;
  }
  
  .editor-listItemChecked {
    text-decoration: line-through;
    color: #6c757d;
  }
  
  // テキストスタイル
  .editor-textBold {
    font-weight: bold;
  }
  
  .editor-textCode {
    background-color: #f4f4f4;
    padding: 2px 4px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .editor-textItalic {
    font-style: italic;
  }
  
  .editor-textStrikethrough {
    text-decoration: line-through;
  }
  
  .editor-textSubscript {
    vertical-align: sub;
    font-size: smaller;
  }
  
  .editor-textSuperscript {
    vertical-align: super;
    font-size: smaller;
  }
  
  .editor-textUnderline {
    text-decoration: underline;
  }
  
  .editor-textUnderlineStrikethrough {
    text-decoration: line-through underline;
  }
  