.header {
  background-color: #ffffff;
  padding: 5px 5px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex; /* Flexboxを使用する */
  align-items: center; /* 中央揃えにする */
  justify-content: space-between; /* ジャスティファイを使用して要素を均等に配置 */
}

/* 新しいページボタンと検索フォームのコンテナ */
.center-container {
  display: flex; /* Flexboxを使用する */
  justify-content: center; /* 中央揃えにする */
  align-items: center; /* アイテムを垂直方向の中央に配置 */
  flex-grow: 1; /* 中央の空間を最大限に利用 */
}

.search-container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  overflow: hidden;
  background: #cdcdcd;
}
.search-container input[type="text"]{
  border: none;
  width: 450px;
  height: 2.0em;
  background: #cdcdcd;
}
.search-container input[type="text"]:focus {
  outline: 0;
}
.search-container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -10px;
  outline : none;
}
.search-container ::-webkit-input-placeholder {
  color: #fff;
}
