/* サイドバーのスタイル */
.sidebar {
  width: 180px; /* サイドバーの幅を固定ピクセルで指定 */
  height: calc(100% - 50px); /* 画面の高さからヘッダーの高さを引いた値 */
  position: fixed;
  background-color: #2C3E50; /* モダンな背景色 */
  left: 0;
  top: 50px; /* ヘッダーと重ならないように位置を下げる */
  bottom: 0;
  transition: transform 0.3s ease-in-out; /* スムーズなアニメーション効果 */
  transform: translateX(-100%);
  box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* 影を追加 */
  z-index: 1000; /* 他の要素より上に表示 */
}

.sidebar ul {
  list-style-type: none;
  padding: 20px 0; /* 上下のパディングを追加 */
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px; /* リスト項目のパディングを調整 */
  border-bottom: none; /* 下線を削除 */
  color: #fff; /* リスト項目の文字色を白色に */
  font-weight: 500; /* フォントの太さを調整 */
}

.sidebar ul li:hover {
  background-color: #34495E; /* ホバー時の背景色をよりダークに */
  cursor: pointer; /* ホバー時のカーソルをポインタに */
  border-left: 4px solid #E74C3C; /* ホバー時に左側にハイライトを追加 */
  padding-left: 16px; /* 左側のハイライト分パディングを調整 */
}

/* 追加スタイル：サイドバーが表示されるときの状態 */
.sidebar.active {
  transform: translateX(0); /* サイドバーを表示 */
}
