/* components/sidebar/Sidebar.css */

/* サイドバーのスタイル */
.sidebar {
  width: 10%; /* サイドバーの幅 */
  position: fixed;
  background-color: #e9e9e9;
  left: 0;
  top: 40px;
  bottom: 0;
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.sidebar ul {
  list-style-type: none; /* リストのスタイルをなしに設定 */
  padding: 0; /* リストのパディングをゼロに設定 */
}

.sidebar ul li {
  padding: 10px 0; /* 各リスト項目のパディング */
  border-bottom: 1px solid #ddd; /* 下線を追加 */
}

.sidebar ul li:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
}
  