@charset "UTF-8";

/* メインコンテンツのスタイル */
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); /* 250pxの幅のメモを画面幅に応じて動的に配置 */
  grid-gap: 20px; /* メモ同士の間隔 */
  padding: 20px 50px;
}

/* リンクのスタイルを調整する */
a {
  color: inherit; /* リンクの色を親要素の色と同じにする */
  text-decoration: none; /* 下線を削除する */
  cursor: pointer; /* カーソルをポインターに変更する */
}


/* メモスタイル */
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(151, 151, 151, 0.1);
  transition: 0.3s;
  aspect-ratio: 1 / 1; /* 正方形の形状を維持 */
}

.page:hover {
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.2);
}

.page .page-body {
  flex: 1 1 auto;
  padding: 0.5rem 0.9rem;
}

.page .page-title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem; /* タイトルとテキストの間隔 */
}

.page .page-content {
  font-size: 0.5rem; /* テキストのフォントサイズ */
  color: #636363; /* テキストの色 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 表示される最大行数を5行に設定 */
  line-height: 1.2; /* 行の高さ */
  max-height: 10em; /* line-height * line-clamp の値 */
}

.page .page-content.score {
  font-weight: bold;
  color: #007bff; /* スコアの色 */
}
