.header {
    background-color: #ffffff;
    padding: 5px 5px;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

.custom-btn {
    display: inline-block;
    width: 4%;
    color: #4b4b4b;
    background-color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ababab6c;
    border-radius: 0.25rem;
    margin: 0.2rem;
    padding: 0.2rem 0.2rem;
    font-size: 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-form{
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem 0.2rem;
}